<p>home works!</p>
<button [swal]="['Oops!', 'This is not implemented yet :/', 'success']" >clic</button>
<br>
<br>
<br>
<br>

<button [swal]="{
          title: 'Titre du film ou de la série',
          input: 'text'
        }"
        (confirm)="saveTvShow($event)"
        (cancel)="cancelTvShow($event)"
>Chercher un film</button>
<br>
{{ message }}
<br>
<div class="results" *ngIf="results && results.length">
  <div class="movie" *ngFor="let movie of results" (click)="showOverview(movie)">
    <h3>{{ movie.original_title <10 ? movie.original_title: movie.original_title.slice(0 , 9) }}...</h3>
    <p>date: {{ movie.release_date }}</p>
    <div *ngIf="movie.poster_path">
        <img [src]="imgURL+ movie.poster_path">
    </div>
    <div *ngIf="!movie.poster_path">
        <p>pas d'image dispo</p>
    </div>


  </div>
</div>

<swal #movieSwal></swal>
